element.style {
  margin-top: -64px;
  opacity: 0;
}
#container {
  width: 768px;
  margin: 0 auto;
}

.iXXqFn {
  position: fixed;
  top: 0px;
  background: #FFFFFF;
  width: 100%;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px;
}

.fYNgRq {
  height: 4rem;
}

.eiqFNx {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.DNZUI {
  width: 1728px;
  margin-left: auto;
  margin-right: auto;
}

.eOtzJQ {
  margin-top: 3.5rem;
}

.dezvna {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.doJJsU {
  margin-bottom: 1.5rem;
}

.hzUaGR {
  display: flex;
  border: 1px solid #ADB5BD;
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  height: 4rem;
  padding: 0px 1.5rem;
}

.hzUaGR svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.25rem;
}

.hzUaGR svg {
  transition: all 0.125s ease-in 0s;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  fill: rgb(173, 181, 189);
  flex-shrink: 0;
}

.hzUaGR input {
  font-size: 1.5rem;
  line-height: 2rem;
  height: 2rem;
  transition: all 0.125s ease-in 0s;
  flex: 1 1 0%;
  display: block;
  padding: 0px;
  border: none;
  outline: 0px;
  background: transparent;
  min-width: 0px;
}

.dmeuJO {
  margin-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text2);
}

.dmeuJO b {
  color: var(#212529);
}
